.benefits {
    padding-top: 18rem;
    padding-bottom: 30rem;

    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-phone) {
        flex-direction: column;
        
        text-align: center;
        padding-bottom: 10rem;
    }

    
    &__image {
        width: 47.5%;
        margin-right: 10%;
        
        @media only screen and (max-width: $bp-phone) {
            width: 100%;
            margin: 0;
            margin-bottom: 10rem;
        }
    }

    &__text-content {
        flex: 47.5%;
        padding: 0 2rem;
    }

    &__block {

    }

    &__title {
        margin-bottom: 1.8rem;

        @media only screen and (max-width: $bp-phone) {
            font-size: 4rem;
        }
    }

    &__paragraph {
        margin-bottom: 4rem;
        color: $color-grey;

        @media only screen and (max-width: $bp-phone) {
            font-size: 2.6rem;
        }
    }
    
}