.try-it-free {
    padding-top: 9rem;
    padding-bottom: 9rem;
    max-width: 80rem;
    margin: 0 auto 26.5rem auto;

    background-color: $color-white;
    text-align: center;

    &__title {
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    &__paragraph {
        margin-bottom: 3.7rem;
    }
}