* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 31.25%; } }

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  max-width: 144rem;
  margin: 0 auto;
  background-color: #F7F9FD; }

.util__box-shadow {
  box-shadow: .1rem .2rem 1rem #ddd; }

.btn {
  text-decoration: none; }
  .btn--white, .btn--white:visited, .btn--white:link {
    background-color: #FFF;
    color: #9A52FF;
    padding: 1.8rem 8rem; }
    @media only screen and (max-width: 37.5em) {
      .btn--white, .btn--white:visited, .btn--white:link {
        padding: 1rem 4.5rem; } }
  .btn--pink, .btn--pink:visited, .btn--pink:link {
    display: inline-block;
    color: #FFF;
    padding: 1.6rem 5rem;
    background-color: #FF52BF; }

.wrapper {
  padding-right: 8rem;
  padding-left: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .wrapper {
      padding-right: 3rem;
      padding-left: 3rem; } }

.header {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  text-align: center; }
  .header::before {
    content: "";
    background-image: linear-gradient(to bottom, #FF52BF, #9A52FF);
    height: 160rem;
    width: 100rem;
    border-radius: 12rem;
    position: absolute;
    top: -31%;
    right: 0;
    left: 54%;
    bottom: 0;
    z-index: -1;
    transform: rotate(-40deg); }
    @media only screen and (max-width: 75em) {
      .header::before {
        left: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .header::before {
        height: 160rem;
        top: -20%;
        left: 70%;
        transform: rotate(-30deg); } }
    @media only screen and (max-width: 37.5em) {
      .header::before {
        top: -30%;
        left: 90%; } }
  .header::after {
    content: "";
    background-color: #FFF;
    height: 100rem;
    width: 200rem;
    border-radius: 12rem;
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: -2;
    transform: rotate(-31deg); }
    @media only screen and (max-width: 56.25em) {
      .header::after {
        height: 90rem;
        top: 5%;
        left: 2%; } }
    @media only screen and (max-width: 37.5em) {
      .header::after {
        height: 70rem;
        top: 4%;
        left: -10%; } }
  .header__try-it-free {
    padding-top: 9rem;
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .header__try-it-free {
        padding-top: 3rem;
        padding-bottom: 16rem; } }
  @media only screen and (max-width: 37.5em) {
    .header__try-it-free-logo {
      width: 35%; } }
  .header__build-the-community {
    margin-bottom: 36rem; }
    @media only screen and (max-width: 56.25em) {
      .header__build-the-community {
        margin-bottom: 18rem; } }
  .header__build-the-community-illustration {
    width: 60%;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .header__build-the-community-illustration {
        width: 80%; } }
  .header__build-the-community-title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .header__build-the-community-title {
        font-size: 4rem;
        margin-right: 8rem;
        margin-left: 8rem; } }
  .header__build-the-community-paragraph {
    width: 52%;
    margin: 0 auto 3.2rem auto;
    font-size: 2.2rem;
    color: #808D99; }
    @media only screen and (max-width: 37.5em) {
      .header__build-the-community-paragraph {
        width: 80%;
        font-size: 3rem; } }

.benefits {
  padding-top: 18rem;
  padding-bottom: 30rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .benefits {
      flex-direction: column;
      text-align: center;
      padding-bottom: 10rem; } }
  .benefits__image {
    width: 47.5%;
    margin-right: 10%;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .benefits__image {
        width: 75%;
        margin: 0;
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 37.5em) {
      .benefits__image {
        width: 100%; } }
  .benefits__text-content {
    flex: 47.5%;
    padding: 0 2rem; }
  .benefits__title {
    margin-bottom: 1.8rem; }
    @media only screen and (max-width: 37.5em) {
      .benefits__title {
        font-size: 4rem; } }
  .benefits__paragraph {
    margin-bottom: 4rem;
    color: #808D99; }
    @media only screen and (max-width: 37.5em) {
      .benefits__paragraph {
        font-size: 2.6rem; } }

.try-it-free {
  padding-top: 9rem;
  padding-bottom: 9rem;
  max-width: 80rem;
  margin: 0 auto 26.5rem auto;
  background-color: #FFF;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .try-it-free {
      padding-top: 4rem;
      padding-bottom: 4rem;
      width: 90%;
      margin: 0 auto 13rem auto; } }
  .try-it-free__title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 3.2rem; }
  .try-it-free__paragraph {
    font-size: 2.2rem;
    margin-bottom: 3.2rem;
    color: #808D99; }

.footer {
  background-color: #00252E;
  color: #FFF;
  padding: 8rem 8rem 17rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-direction: column;
      align-items: center; } }
  .footer__logo-container {
    flex: 100%;
    margin-bottom: 3.7rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-container {
        flex: 1; } }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-container {
        order: 1; } }
  .footer__social-media-container {
    flex: 20%; }
    @media only screen and (max-width: 56.25em) {
      .footer__social-media-container {
        order: 4; } }
  .footer__nav-social-media-list {
    list-style-type: none;
    font-size: 3.7rem;
    margin-bottom: 3.7rem; }
  .footer__nav-social-media-item {
    display: inline-block; }
  .footer__nav-social-media-link {
    text-decoration: none;
    color: inherit; }
  .footer__nav {
    flex: 20%;
    margin-left: 8%; }
    @media only screen and (max-width: 75em) {
      .footer__nav {
        margin-left: 3%; } }
    @media only screen and (max-width: 56.25em) {
      .footer__nav {
        order: 2; } }
  .footer__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .footer__item {
    display: inline-block;
    margin-bottom: 3rem;
    flex: 50%; }
    @media only screen and (max-width: 56.25em) {
      .footer__item {
        flex: 30%; } }
  .footer__link {
    text-decoration: none;
    color: inherit; }
  .footer__subscribe {
    flex: 20%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .footer__subscribe {
        order: 3; } }
  .footer__subscribe-title {
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .footer__subscribe-paragraph {
    margin-bottom: 2rem; }
  .footer__subscribe-input {
    display: inline-block;
    font-size: inherit;
    padding: 1.6rem 5rem;
    margin-bottom: 2rem;
    border: 1px solid #FFF;
    border-radius: 3px; }
  .footer__subscribe-btn {
    align-self: flex-end;
    border-radius: 3px; }
