* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  max-width: 144rem;
  margin: 0 auto;
  background-color: #F7F9FD; }

.util__box-shadow {
  box-shadow: .1rem .2rem 1rem #ddd; }

.btn {
  text-decoration: none; }
  .btn--white, .btn--white:visited, .btn--white:link {
    background-color: #FFF;
    color: #9A52FF;
    padding: 1.8rem 8rem; }
  .btn--pink, .btn--pink:visited, .btn--pink:link {
    display: inline-block;
    color: #FFF;
    padding: 1.6rem 5rem;
    background-color: #FF52BF; }

.wrapper {
  padding-right: 8rem;
  padding-left: 8rem; }

.header {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  text-align: center; }
  .header::before {
    content: "";
    background-image: linear-gradient(to bottom, #FF52BF, #9A52FF);
    height: 160rem;
    width: 100rem;
    border-radius: 12rem;
    position: absolute;
    top: -32%;
    right: 0;
    left: 56%;
    bottom: 0;
    z-index: -1;
    transform: rotate(-40deg); }
  .header::after {
    content: "";
    background-color: #FFF;
    height: 100rem;
    width: 200rem;
    border-radius: 12rem;
    position: absolute;
    top: 14%;
    left: 2%;
    z-index: -2;
    transform: rotate(-20deg); }
  .header__try-it-free {
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__build-the-community {
    margin-bottom: 36rem; }
  .header__build-the-community-illustration {
    width: 60%;
    margin-bottom: 8rem; }
  .header__build-the-community-title {
    font-weight: 700;
    margin-bottom: 3.6rem; }
  .header__build-the-community-paragraph {
    width: 42%;
    margin: 0 auto 3.6rem auto; }

.benefits {
  padding-top: 18rem;
  padding-bottom: 60rem;
  display: flex;
  justify-content: space-between; }
  .benefits__image {
    width: 47.5%;
    margin-right: 10%; }
  .benefits__text-content {
    flex: 47.5%;
    padding: 0 2rem; }
  .benefits__title {
    margin-bottom: 1.8rem; }
  .benefits__paragraph {
    margin-bottom: 4rem; }

.try-it-free {
  padding-top: 9rem;
  padding-bottom: 9rem;
  max-width: 80rem;
  margin: 0 auto 26.5rem auto;
  background-color: #FFF;
  text-align: center; }
  .try-it-free__title {
    font-size: 3rem;
    margin-bottom: 4rem; }
  .try-it-free__paragraph {
    margin-bottom: 3.7rem; }

.footer {
  background-color: #00252E;
  color: #FFF;
  padding: 19rem 8rem 7rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .footer__logo-container {
    flex: 100%;
    margin-bottom: 3.7rem; }
  .footer__social-media-container {
    flex: 20%; }
  .footer__nav-social-media-list {
    list-style-type: none;
    font-size: 3.7rem;
    margin-bottom: 3.7rem; }
  .footer__nav-social-media-item {
    display: inline-block; }
  .footer__nav-social-media-link {
    text-decoration: none;
    color: inherit; }
  .footer__nav {
    flex: 20%;
    margin-left: 8%; }
  .footer__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .footer__item {
    display: inline-block;
    margin-bottom: 3rem;
    flex: 50%; }
  .footer__link {
    text-decoration: none;
    color: inherit; }
  .footer__subscribe {
    flex: 20%;
    display: flex;
    flex-direction: column; }
  .footer__subscribe-title {
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .footer__subscribe-paragraph {
    margin-bottom: 2rem; }
  .footer__subscribe-input {
    display: inline-block;
    font-size: inherit;
    padding: 1.6rem 5rem;
    margin-bottom: 2rem;
    border: 1px solid #FFF;
    border-radius: 3px; }
  .footer__subscribe-btn {
    align-self: flex-end;
    border-radius: 3px; }
